<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Rento</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyAuP9KInYJsAhrlwMBjK9OD_pxRFLORzvo"></script>
</head>
<body>
    <app-root></app-root>
    <script src="~/rento/dist/runtime-es2015.js" type="module">
    </script>
    <script src="~/rento/dist/runtime-es5.js" nomodule defer></script>
    <script src="~/rento/dist/polyfills-es5.js" nomodule defer>
    </script>
    <script src="~/rento/dist/polyfills-es2015.js" type="module">
    </script>
    <script src="~/rento/dist/styles-es2015.js" type="module">
    </script>
    <script src="~/rento/dist/styles-es5.js" nomodule defer>
    </script>
    <script src="~/rento/dist/vendor-es2015.js" type="module">
    </script>
    <script src="~/rento/dist/vendor-es5.js" nomodule defer>
    </script>
    <script src="~/rento/dist/main-es2015.js" type="module">
    </script>
    <script src="~/rento/dist/main-es5.js" nomodule defer>
    </script>
</body>
</html>
